# vim: ft=yaml.ansible
---
- name: Install NixOS
  hosts: all
  gather_facts: false
  tasks:
    - name: Wake up samurai
      when: mac is defined
      community.general.wakeonlan:
        mac: '{{ mac }}'
      delegate_to: localhost

    - name: Wait for the node to be reachable
      ansible.builtin.wait_for_connection:

    - name: Gather facts
      ansible.builtin.setup:

    - name: Partitioning
      when: partitions | length > 0
      ansible.builtin.include_tasks:
        file: '{{ playbook_dir }}/tasks-partitioning.yml'
      loop: '{{ partitions }}'
      loop_control:
        loop_var: spec

    - name: Formatting
      when: filesystems | default([]) | length > 0
      ansible.builtin.include_tasks:
        file: '{{ playbook_dir }}/tasks-formatting.yml'
      loop: '{{ filesystems }}'
      loop_control:
        loop_var: spec

    - name: Mount for install
      when: chrootMounts | default([]) | length > 0
      ansible.builtin.include_tasks:
        file: '{{ playbook_dir }}/tasks-mounts.yml'
      loop: '{{ chrootMounts }}'
      loop_control:
        loop_var: spec

    - name: Install NixOS
      become: true
      ansible.builtin.command:
        cmd: nixos-install --no-root-passwd --root /mnt --flake {{ nixos_configuration_flake_url }}
        creates:
