# yamllint disable rule:comments-indentation
---
theme: dark

telemetry:
  metrics:
    enabled: true

authentication_backend:
  ldap:
    implementation: custom
    address: ldap://lldap:3890
    timeout: 5 seconds
    start_tls: false
    base_dn: dc=homelab,dc=icanwalkonwater,dc=dev
    additional_users_dn: ou=people
    users_filter: (&({username_attribute}={input})(objectClass=person))
    additional_groups_dn: ou=groups
    groups_filter: (member={dn})

    user: uid=authelia,ou=people,dc=homelab,dc=icanwalkonwater,dc=dev

    attributes:
      display_name: displayName
      username: uid
      group_name: cn
      mail: mail

  password_reset:
    disable: false

session:
  name: authelia_session
  cookies:
    - name: authelia_session
      domain: homelab.icanwalkonwater.dev
      authelia_url: https://auth.homelab.icanwalkonwater.dev
    - domain: mon.enorme.uk
      authelia_url: https://identifie.mon.enorme.uk

storage:
  local:
    path: /data/db.sqlite3

notifier:
  filesystem:
    filename: /config/notification.txt

identity_validation:
  reset_password:
    jwt_lifespan: 48 hours

access_control:
  default_policy: deny
  rules:
    - domain: identifie.mon.enorme.uk
      policy: one_factor

identity_providers:
  oidc:
    jwks:
      - algorithm: RS256
        key: {{ secret "/var/run/secrets/icanwalkonwater.dev/oidc-jwk-key.pem" | mindent 10 "|" | msquote }}

    cors:
      allowed_origins_from_client_redirect_uris: true

    clients:
      - client_id: mealie
        client_name: Mealie
        client_secret: '$argon2id$v=19$m=65536,t=3,p=4$KwTgEVeN9MSt7GFLKIkf6g$WozCbkdzOJzcIrNG49ZxoUPd7tzLHQlcVawqcjmTtwE'
        public: false
        authorization_policy: one_factor
        consent_mode: implicit
        require_pkce: true
        pkce_challenge_method: S256
        redirect_uris:
          - https://mange.mon.enorme.uk/login
          - https://mange.mon.enorme.uk/login?direct=1
        scopes: [openid, email, profile, groups]
        response_types: [code]
        grant_types: [authorization_code]
        access_token_signed_response_alg: none
        userinfo_signed_response_alg: none
        token_endpoint_auth_method: client_secret_basic

      - client_id: grafana
        client_name: Grafana
        client_secret: '$argon2id$v=19$m=65536,t=3,p=4$CdWdumBGfWUtlC+dNj+hYQ$c59de/eVU9m8t1CW9PPpw9MTaTw/zoOEAedqBVjdjf4'
        public: false
        authorization_policy: one_factor
        consent_mode: implicit
        require_pkce: true
        pkce_challenge_method: S256
        redirect_uris:
          - https://admire.mon.enorme.uk/login/generic_oauth
        scopes: [openid, profile, groups, email]
        response_types: [code]
        access_token_signed_response_alg: none
        userinfo_signed_response_alg: none
        token_endpoint_auth_method: client_secret_basic

      - client_id: paperless
        client_name: Paperless
        client_secret: '$argon2id$v=19$m=65536,t=3,p=4$FAugmEnwGsYSRAldgzFjcw$+Whgc9aI5Dh3uOc372/9FBZfL64VyrgY5sNX0kpHom0'
        public: false
        authorization_policy: one_factor
        consent_mode: implicit
        require_pkce: true
        pkce_challenge_method: S256
        redirect_uris:
          - https://essuie.mon.enorme.uk/accounts/oidc/authelia/login/callback/
        scopes: [openid, profile, email, groups]
        response_types: [code]
        grant_types: [authorization_code]
        access_token_signed_response_alg: none
        userinfo_signed_response_alg: none
        token_endpoint_auth_method: client_secret_basic

      - client_id: immich
        client_name: Immich
        client_secret: '$argon2id$v=19$m=65536,t=3,p=4$X1VCinBMGMfETmht7sTKnw$MZa3SP0Fqf3SvU113rYpbxbpKr/bua3YqPfAzCxGGfg'
        public: false
        authorization_policy: one_factor
        consent_mode: implicit
        require_pkce: false
        redirect_uris:
          - https://filme.mon.enorme.uk/auth/login
          - https://filme.mon.enorme.uk/user-settings
          - app.immich:///oauth-callback
        scopes: [openid, profile, email]
        response_types: [code]
        grant_types: [authorization_code]
        id_token_signed_response_alg: RS256
        userinfo_signed_response_alg: RS256
        token_endpoint_auth_method: client_secret_post
