# yamllint disable rule:comments-indentation
---
theme: dark

authentication_backend:
  ldap:
    implementation: custom
    address: ldap://lldap:3890
    timeout: 5 seconds
    start_tls: false
    base_dn: dc=homelab,dc=icanwalkonwater,dc=dev
    additional_users_dn: ou=people
    users_filter: (&({username_attribute}={input})(objectClass=person))
    additional_groups_dn: ou=groups
    groups_filter: (member={dn})

    attributes:
      display_name: displayName
      username: uid
      group_name: cn
      mail: mail

    user: uid=authelia,ou=people,dc=homelab,dc=icanwalkonwater,dc=dev

session:
  cookies:
    - name: authelia_session
      domain: homelab.icanwalkonwater.dev
      authelia_url: https://authelia.homelab.icanwalkonwater.dev

storage:
  local:
    path: /data/db.sqlite3

notifier:
  filesystem:
    filename: /config/notification.txt

access_control:
  default_policy: one_factor
