# yamllint disable rule:comments-indentation
---
theme: dark

authentication_backend:
  ldap:
    implementation: custom
    address: ldap://lldap:3890
    timeout: 5 seconds
    start_tls: false
    base_dn: dc=homelab,dc=icanwalkonwater,dc=dev
    additional_users_dn: ou=people
    users_filter: (&({username_attribute}={input})(objectClass=person))
    additional_groups_dn: ou=groups
    groups_filter: (member={dn})

    attributes:
      display_name: displayName
      username: uid
      group_name: cn
      mail: mail

    user: uid=authelia,ou=people,dc=homelab,dc=icanwalkonwater,dc=dev

  password_reset:
    disable: false

session:
  name: authelia_session
  cookies:
    - name: authelia_session
      domain: homelab.icanwalkonwater.dev
      authelia_url: https://auth.homelab.icanwalkonwater.dev
    - domain: mon.enorme.uk
      authelia_url: https://identifie.mon.enorme.uk

storage:
  local:
    path: /data/db.sqlite3

notifier:
  filesystem:
    filename: /config/notification.txt

access_control:
  default_policy: one_factor

identity_providers:
  oidc:
    jwks:
      - algorithm: RS256
        key: {{ secret "/config/certs/tls.key" | mindent 10 "|" | msquote }}
        certificate_chain: {{ secret "/config/certs/tls.crt" | mindent 10 "|" | msquote }}

    cors:
      allowed_origins_from_client_redirect_uris: true

    clients:
      - client_id: mealie
        client_name: Mealie
        client_secret: '$argon2id$v=19$m=65536,t=3,p=4$EirC80zBvWgLlx9h8iUNNQ$xAPC+xQQ6FuMLiWr5MS6DYPwuTTIUmNd28nx54TW8yw'
        public: false
        authorization_policy: one_factor
        require_pkce: true
        pkce_challenge_method: S256
        redirect_uris:
          - https://mealie.homelab.icanwalkonwater.dev/login
        scopes: [openid, email, profile, groups]
        userinfo_signed_response_alg: none
        token_endpoint_auth_method: client_secret_basic

      - client_id: grafana
        client_name: Grafana
        client_secret: '$argon2id$v=19$m=65536,t=3,p=4$3SvIqj5YLGhSP/NzGPfXfQ$ArQhRAuffmpuh+cog0FnqAlZdOyYPDmMU0HRs0thekM'
        public: false
        authorization_policy: one_factor
        require_pkce: true
        pkce_challenge_method: S256
        redirect_uris:
          - https://grafana.homelab.icanwalkonwater.dev/login/generic_oauth
        scopes: [openid, profile, groups, email]
        userinfo_signed_response_alg: none
        token_endpoint_auth_method: client_secret_basic
