---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: authelia
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
spec:
  ingressClassName: nginx
  rules:
    - host: authelia.homelab.icanwalkonwater.dev
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: authelia
                port:
                  name: http
  tls:
    - hosts:
        - authelia.homelab.icanwalkonwater.dev
      secretName: authelia-tls
