---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
  - pairs:
      app.kubernetes.io/name: authelia
    includeTemplates: true
    includeSelectors: true
  - pairs:
      app.kubernetes.io/component: oauth
    includeTemplates: true

namespace: auth
resources:
  - deployment.yml
  - pv.yml
  - service.yml

configMapGenerator:
  - name: authelia-config
    files:
      - configuration.yml

secretGenerator:
  - name: authelia-credentials
    options:
      disableNameSuffixHash: true
    envs:
      - authelia-credentials.env
    files:
      - OIDC_JWK_KEY=authelia-oidc-jwk-key.pem
