---
port: 9129
cache_dir: /var/cache/pacoloco
purge_files_after: 360000
download_timeout: 3600
repos:
  archlinux:
    urls:
      - http://mirrors.kernel.org/archlinux
      - http://archlinux.mirrors.ovh.net/archlinux/$repo/os/$arch
      - http://mirror.archlinux.ikoula.com/archlinux/$repo/os/$arch
      - http://mirrors.gandi.net/archlinux/$repo/os/$arch
