---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mealie
spec:
  replicas: 1
  revisionHistoryLimit: 2
  strategy: { type: Recreate }

  template:
    spec:
      containers:
        - name: mealie
          image: mealie
          env:
            - { name: TZ, value: Europe/Paris }
            - { name: DB_ENGINE, value: sqlite }
            - { name: BASE_URL, value: mange.mon.enorme.uk }
            - { name: ALLOW_PASSWORD_LOGIN, value: 'false' }

            # OIDC auth
            - { name: OIDC_AUTH_ENABLED, value: 'true' }
            - { name: OIDC_PROVIDER_NAME, value: Authelia }
            - { name: OIDC_CONFIGURATION_URL, value: https://identifie.mon.enorme.uk/.well-known/openid-configuration }
            - { name: OIDC_CLIENT_ID, value: mealie }
            - name: OIDC_CLIENT_SECRET
              valueFrom:
                secretKeyRef: { name: mealie-credentials, key: OIDC_CLIENT_SECRET }
            - { name: OIDC_SIGNUP_ENABLED, value: 'true' }
            - { name: OIDC_AUTO_REDIRECT, value: 'true' }
            - { name: OIDC_NAME_CLAIM, value: preferred_username }
            - { name: OIDC_ADMIN_GROUP, value: mealie.admin }
            - { name: OIDC_USER_GROUP, value: mealie.user }
          ports:
            - { name: http, containerPort: 9000 }
          volumeMounts:
            - name: data
              mountPath: /app/data
          resources:
            requests: { cpu: 10m, memory: 256Mi }
            limits: { cpu: 1000m, memory: 512Mi }

      volumes:
        - name: data
          persistentVolumeClaim: { claimName: mealie-data-pvc }
