---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: mealie
resources:
  - statefulset.yml
  - service.yml
  - ingress.yml

images:
  - name: mealie
    newName: ghcr.io/mealie-recipes/mealie
    newTag: v2.8.0
