---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
  - pairs:
      app.kubernetes.io/part-of: auth
      app.kubernetes.io/managed-by: kustomize
    includeTemplates: true

namespace: auth
resources:
  - namespace.yml
  - lldap
  - authelia

images:
  - name: lldap
    newName: ghcr.io/lldap/lldap
    newTag: 2025-08-06-alpine-rootless
  - name: authelia
    newName: ghcr.io/authelia/authelia
    newTag: 4.39.6
