---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: minecraft-gtnh
resources:
  - pv.yml
  - statefulset.yml
  - service.yml

configMapGenerator:
  - name: minecraft-gtnh-cm
    files:
      - whitelist.json=data/whitelist.json
      - ops.json=data/ops.json

images:
  - name: minecraft-gtnh
    newName: ghcr.io/icanwalkonwater/minecraft-gtnh
    newTag: 2.7.4-java21
