version: '3.8'

services:
  pxe:
    build:
      context: .
      dockerfile: Dockerfile.pixiecore
    restart: unless-stopped
    command:
      - 'boot'
      - '/iso/vmlinuz-linux'
      - '/iso/initramfs-linux.img'
      - '--cmdline'
      - 'archisobasedir=arch archiso_http_srv=http://${HOST_STATIC_FILES}:8080/iso/ ds=nocloud;s=http://${HOST_STATIC_FILES}:8080/cloud-init/ ip=dhcp cms_verify=y net.ifnames=0'
      - '--dhcp-no-bind'
      - '-d'
    volumes:
      - ./static/iso/arch/boot/x86_64/vmlinuz-linux:/iso/vmlinuz-linux:ro
      - ./static/iso/arch/boot/x86_64/initramfs-linux.img:/iso/initramfs-linux.img:ro
    network_mode: host

  static_files:
    image: caddy:2.7.4
    restart: unless-stopped
    command:
      - 'caddy'
      - 'file-server'
      - '--root'
      - '/static'
      - '--listen'
      - ':8080'
      - '--access-log'
    volumes:
      - ./static:/static:ro
    ports:
      - '8080:8080/tcp'
  
