apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# decorative labels, they don't do anything
labels:
  - pairs:
      app.kubernetes.io/managed-by: kustomize
    includeTemplates: true

generatorOptions:
  immutable: true

namespace: monitoring
resources:
  - namespace.yml
  - grafana
  - prometheus
  - node-exporter.yml

images:
  - name: grafana
    newName: docker.io/grafana/grafana-oss
    newTag: 12.1.0
  - name: prometheus
    newName: docker.io/prom/prometheus
    newTag: v3.5.0
  - name: node-exporter
    newName: docker.io/prom/node-exporter
    newTag: v1.9.1
