---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: local-path-provisioner
resources:
  - https://raw.githubusercontent.com/rancher/local-path-provisioner/v0.0.32/deploy/local-path-storage.yaml
  - storage-class.yml

configMapGenerator:
  - name: local-path-config
    namespace: local-path-storage
    behavior: merge
    files:
      - config.json=data/config.json
