---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
  - pairs:
      app.kubernetes.io/managed-by: kustomize
    includeTemplates: true

generatorOptions:
  immutable: true

namespace: cert-manager
resources:
  - issuer-letsencrypt.yml
  - cloudflare-credentials.yml
