---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
  labels:
    app.kubernetes.io/name: prometheus
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: prometheus
  replicas: 1
  revisionHistoryLimit: 2
  strategy: { type: Recreate }

  template:
    metadata:
      labels:
        app.kubernetes.io/name: prometheus
    spec:
      serviceAccountName: prometheus
      containers:
        - name: prometheus
          image: prometheus
          args:
            - --config.file=/etc/prometheus/prometheus.yml
            - --storage.tsdb.retention.size=50GB
          ports:
            - { name: http, containerPort: 9090 }
          volumeMounts:
            - name: config
              mountPath: /etc/prometheus/prometheus.yml
              subPath: prometheus.yml
              readOnly: true
            - name: data
              mountPath: /prometheus
          resources:
            requests: { cpu: 100m, memory: 250Mi }
            limits: { cpu: 1000m, memory: 500Mi }
      volumes:
        - name: config
          configMap:
            name: prometheus-cm
            items: [{ key: prometheus.yml, path: prometheus.yml }]
        - name: data
          persistentVolumeClaim: { claimName: prometheus-data-pvc }
