apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
  - pairs:
      app.kubernetes.io/name: prometheus
  - pairs:
      app.kubernetes.io/component: scraper
    includeTemplates: true

resources:
  - rbac.yml
  - deployment.yml
  - service.yml
  - pv.yml

configMapGenerator:
  - name: prometheus-cm
    files:
      - prometheus.yml
