apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
  - pairs:
      app.kubernetes.io/part-of: prometheus
    includeTemplates: true

resources:
  - rbac.yml
  - statefulset.yml
  - service.yml

configMapGenerator:
  - name: prometheus-cm
    files:
      - data/prometheus.yml
