---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: paperless
spec:
  replicas: 1
  revisionHistoryLimit: 2
  strategy: { type: Recreate }

  template:
    spec:
      containers:
        - name: paperless
          image: paperless
          env:
            - { name: PAPERLESS_TIME_ZONE, value: Europe/Paris }
            - { name: USERMAP_UID, value: '1002' }
            - { name: USERMAP_GID, value: '1002' }
            - { name: PAPERLESS_URL, value: 'https://essuie.mon.enorme.uk' }
            - { name: PAPERLESS_TASK_WORKERS, value: '1' }
            - { name: PAPERLESS_THREADS_PER_WORKER, value: '2' }

            - { name: PAPERLESS_PORT, value: '8000' }
            - { name: PAPERLESS_REDIS, value: redis://redis.paperless.svc:6379 }
            - { name: PAPERLESS_DATA_DIR, value: /data }
            - { name: PAPERLESS_MEDIA_ROOT, value: /media }
            - { name: PAPERLESS_EMPTY_TRASH_DIR, value: /trash }
            - { name: PAPERLESS_CONSUMPTION_DIR, value: /ingest }
            - { name: PAPERLESS_SECRET_KEY_FILE, value: /var/run/secrets/icanwalkonwater.dev/secret-key.txt }

            - { name: PAPERLESS_ADMIN_USER, value: 'root' }
            - { name: PAPERLESS_ADMIN_PASSWORD, value: /var/run/secrets/icanwalkonwater.dev/admin-password.txt }
            - { name: PAPERLESS_DISABLE_REGULAR_LOGIN, value: 'true' }
            - { name: PAPERLESS_REDIRECT_LOGIN_TO_SSO, value: 'true' }
            - { name: PAPERLESS_APPS, value: allauth.socialaccount.providers.openid_connect }
            - { name: PAPERLESS_SOCIALACCOUNT_PROVIDERS_FILE, value: /var/run/secrets/icanwalkonwater.dev/allauth-providers.txt }
            - { name: PAPERLESS_SOCIAL_AUTO_SIGNUP, value: 'true' }
            - { name: PAPERLESS_SOCIAL_ACCOUNT_SYNC_GROUPS, value: 'true' }

            - { name: PAPERLESS_OCR_LANGUAGE, value: fra+eng }
            # NOTE: Fixes crashes on seemingly very big PDFs ?
            - { name: PAPERLESS_OCR_USER_ARGS, value: '{"continue_on_soft_render_error": true}' }
          ports:
            - { name: http, containerPort: 8000 }
          volumeMounts:
            - name: data
              mountPath: /data
            - name: media
              mountPath: /media
            - name: trash
              mountPath: /trash
            - name: ingest
              mountPath: /ingest
            - name: export
              mountPath: /export
            - name: credentials
              mountPath: /var/run/secrets/icanwalkonwater.dev
              readOnly: true
          resources:
            requests: { cpu: 100m, memory: 600Mi }
            limits: { cpu: 2000m, memory: 2Gi }

          readinessProbe:
            httpGet: { path: /health, port: http }
            initialDelaySeconds: 15
            periodSeconds: 5
            failureThreshold: 5

      volumes:
        - name: data
          persistentVolumeClaim: { claimName: paperless-data-pvc }
        - name: media
          persistentVolumeClaim: { claimName: paperless-media-pvc }
        - name: trash
          persistentVolumeClaim: { claimName: paperless-trash-pvc }
        - name: ingest
          persistentVolumeClaim: { claimName: paperless-ingest-pvc }
        - name: export
          persistentVolumeClaim: { claimName: paperless-export-pvc }
        - name: credentials
          secret:
            secretName: paperless-credentials
            items:
              - { key: SECRET_KEY, path: secret-key.txt }
              - { key: ADMIN_PASSWORD, path: admin-password.txt }
              - { key: ALLAUTH_PROVIDERS, path: allauth-providers.txt }
