SECRET_KEY=
ADMIN_PASSWORD=
ALLAUTH_PROVIDERS=
# ALLAUTH_PROVIDERS='{
#   "openid_connect": {
#     "SCOPE": ["openid", "profile", "email", "groups"],
#     "OAUTH_PKCE_ENABLED": true,
#     "APPS": [
#       {
#         "provider_id": "authelia",
#         "name": "Authelia",
#         "client_id": "paperless",
#         "secret": "<<SECRET HERE>>",
#         "settings": {
#           "server_url": "https://identifie.mon.enorme.uk",
#           "token_auth_method": "client_secret_basic"
#         }
#       }
#     ]
#   }
# }'
