LLDAP_JWT_SECRET=secret
LLDA_ADMIN_PASS_SECRET=a_very_long_admin_password_because_its_cool

AUTHELIA_JWT_SECRET=secret
AUTHELIA_SESSION_SECRET=secret
AUTHELIA_STORAGE_ENCRYPTION_SECRET=secretsecretsecretsecret

POSTGRES_GRAFANA_PASSWORD=grafana
POSTGRES_LLDAP_PASSWORD=lldap
POSTGRES_AUTHELIA_PASSWORD=authelia
