# Periodic snapshots on the root filesystem to recover from a bad configuration state or failed upgrade

transaction_syslog cron

snapshot_create onchange
snapshot_preserve_min latest
snapshot_preserve {{ archlinux_base_snapshot_retention }}

volume /mnt/rootfs
  snapshot_dir @snapshots
  subvolume @
  subvolume @home

