# vim: ft=yaml
cluster-init: true
secrets-encryption: true
cluster-cidr:
  - 10.42.0.0/16
  - 2001:cafe:42:0::/56
service-cidr:
  - 10.43.0.0/16
  - 2001:cafe:42:1::/112
flannel-backend: wireguard-native

disable-cloud-controller: true

