name: CI
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  lint_playbooks:
    name: Lint Ansible playbooks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run ansible-lint
        uses: ansible/ansible-lint@v6.20.3
